body {
  width: 100%;
  margin: 0;
}

.hero-area {
  background: #699bc4 url("https://source.unsplash.com/m_HRfLhgABo/1600x600/") no-repeat 0 0;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
}

.navbar {
  background-color: rgba(50, 50, 50, 0.5);
  color: #fff;
  padding: 10px;
/* Without the four declarations below (position, width, box-sizing, top), then hero area and navbar are at the top.  With them, there is a white bar on CodePen. On my site that top white bar is not there. */
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.navbar-flexbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

h1 {
  margin-top: 0;
  line-height: 6;
}

.main-body {
  padding: 5px 25px;
}

.hero-arrow {
  line-height: 5;
}
